.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.num {
  width: 80px;
}

.emph {
  font-style: italic;
}

.radioIndent {
  margin-left: 40px;
}

.divSubSettings {
  border: none;
  padding: 10px
}

.headSubSettings {
  margin-top: 5px;
  margin-bottom: 5px;
}

html {
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
}

#startPopUp {
  touch-action: none;
  box-sizing: border-box;
  overflow: auto;
  width: 30%;
  max-height: 70%;
  border: 2px solid black;
  border-radius: 30px;
  position: relative;
  background: #f9f9f9;
  top: 15%;
  left: 35%;
  margin: 0;
  padding: 30px;
  display: none;
  z-index: 1000;
}

#divHelpOverlay {
  touch-action: none;
  box-sizing: border-box;
  overflow: auto;
  border: 2px solid black;
  border-radius: 30px;
  position: relative;
  background: #f9f9f9;
  top: 0px;
  left: 0px;
  margin: 20px;
  padding: 30px;
  max-height: 90%;
  max-width: 800px;
  display: none;
  z-index: 100;
}

.helpQuestion {
  padding-top: 15px;
  font-weight: bolder;
  #font-size: 1.2em;
}

.helpAnswer {
}

#buttToggleHelp {
  touch-action: none;
  text-align: center;
  box-sizing: border-box;
  font-size: 3em;
  overflow: hidden;
  width: 70px;
  height: 70px;
  border-radius: 0 0 100% 0;
  border: 0;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0 10px 0 0;
  z-index: 200;
}

.buttonInactive {
  background: #e0e0e0;
}

.buttonActive {
  background: #f9f9f9;
}

#buttToggleHelp:hover {
  background: #f9f9f9;
}

#divCanvas {
  touch-action: none;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 80%;
  border: 0px;
  position: absolute;
  top: 0;
  left: 80px;
  margin: 0;
  padding: 0;
}

#divKeyCanvas {
  touch-action: none;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 20%;
  border: 0px;
  position: absolute;
  top: 80%;
  left: 80px;
  margin: 0;
  padding: 0;
}

#divMods {
  touch-action: none;
  box-sizing: border-box;
  overflow: hidden;
  width: 80px;
  height: 100%;
  border: 0px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border-right: 0px solid black;
}

#divPanMod {
  touch-action: none;
  overflow: hidden;
  width: 100%;
  height: 20%;
  border: 0px;
  position: absolute;
  top: 80%;
  left: 0;
  margin: 0;
  padding: 0;
  background: #FF9273;
}

#divSustainMod {
  touch-action: none;
  overflow: hidden;
  width: 100%;
  height: 80%;
  border: 0px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #FFD073;
}

.modText {
  text-align: center;
  position: absolute;
  font-size: 1.3em;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  padding: 0;
  margin: 0;
}

#buttToggleSettings {
  box-sizing: border-box;
  position: absolute;
  font-size: 3em;
  top: 0;
  right: 0;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 0 0 0 100%;
  width: 70px;
  height: 70px;
  padding: 0px 0 0 24px;
  margin: 0px;
  border-right: none;
  border-top: none;
  z-index: 200;
}

#buttToggleSettings:hover {
  background: #f9f9f9;
}

#divSettings {
  display: none;
  box-sizing: border-box;
  overflow: hidden;
  background: #f9f9f9;
  width: 800px;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}

#settingsHeader {
  background: #f9f9f9;
  box-sizing: border-box;
  padding-top:20px;
  padding-bottom:15px;
  padding-left:10px;
  margin:0px;
  height:70px;
  border-bottom: 1px solid black;
  border-left: 2px solid black;
}

#divSettingsInner {
  background: #f9f9f9;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 80%;
  border-left: 2px solid black
}

#divGeneral {
  padding-top: 0px;
}

#contentStepIntervals {
  margin: 0px;
  padding: 0px;
}

#divGeneratedStepIntervals {
  margin: 0px;
  padding: 0px;
}

.setting {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.toggletipButton {
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 1.5px solid #bfbfbf;
  box-shadow: 0;
  color: #8a8a8a;
  font-weight: bold;
  z-index: 90;
}

.toggletipButtonActive {
  border: 3px solid #000000 !important;
  background: #ffffff !important;
  color: #000000 !important;
}

.toggletipBubble {
  display: none;
  position: absolute;
  border: 2px solid #8a8a8a;
  border-radius: 15px;
  background: #ffffff;
  font-size: 0.85em;
  width: 85%;
  left: 5%;
  top: 2.2em;
  padding: 0.5rem;
  z-index: 100;
}

.toggletipBubbleVisible {
  display: inline-block !important;
}

.toggletipBubbleSubpar {
  display: block;
  position: relative;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.divGenInt {
  border-top: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.genIntButton {
  padding: 0px;
  margin: 2px 10px 2px 10px;
}
